<!DOCTYPE html>
<html lang="en">
   <head>
      <title>E-tutor</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <!-- Favicons -->
     <link rel="apple-touch-icon" sizes="512x512" href="assets/images/favicon/512px.png" />
     <link rel="apple-touch-icon" sizes="192x192" href="assets/images/favicon/192px.png" />
     <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/32px.png" />
     <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/16px.png" />
     <link rel="stylesheet" href="assets/css/rt-plugins.css">
     <link rel="stylesheet" href="assets/css/main.min.css">
   </head>
   <body>

    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  
    
  {% block content %}{% endblock %}

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/rt-plugins.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>