.badge-color-1{
    background-color: #EBEBFF;
}
.badge-color-2{
    background-color: #E1F7E3;
}
.badge-color-3{
    background-color: #FFF2E5;
}
.badge-color-4{
    background-color: #FFF0F0;
}
.badge-color-5{
    background-color: #F5F7FA;
}
.badge-color-6{
    background-color: #F5F7FA;
}
.badge-color7{
    background-color: #FFEEE8;
}
.badge-color-8{
    background-color: #F5F7FA;
}