.bredadcrumb-section {
  background-color: #f5f7fa;
  padding: 35px 0;
}

.breadcrumb-menu {
  text-align: center;
  &.text-left{
    text-align: left;
    margin-bottom: 16px;
  }
  h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #1d2026;
    margin-bottom: 15px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      color: #1d2026;
      margin: 0 2px;
      display: inline-block;

      a {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: -0.01em;
        color: #6e7485;
      }
    }
  }
}
