// student message
.student-message-box {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e9eaf0;
  @include mq('desktop', max) {
    display: block;
  }
}
.student-message-left {
  border-right: 1px solid #e9eaf0;
  height: 100%;
  flex: 0 0 32%;
  .student-message-left-header {
    padding: 24px 24px 16px;
    .student-message-header-title {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      justify-content: space-between;
      h3 {
        font-weight: 600;
        font-size: 24px;
        letter-spacing: -0.01em;
        color: #1d2026;
        margin: 0;
      }
      a.compose-btn {
        font-family: Inter;
        font-weight: 600;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: -0.004em;
        text-transform: capitalize;
        color: #4e5566;
        background: #f5f7fa;
        padding: 0 16px;
      }
    }
  }
}
.searchbox.student-message-search input {
  background-color: transparent;
  border: 1px solid #e9eaf0;
}
.message-wrap {
  overflow-y: scroll;
  height: 650px;
}
.message-item {
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
  @include mq('phone-wide', max) {
    padding: 12px 15px;
  }
  &:hover {
    background: #f1f5fc;
  }

  &.active {
    background: #ffddd1;
    .message-data {
      h6 {
        color: #1d2026;
      }
      p {
        color: #4e5566;
      }
    }
    .user-online-status {
      border: 3px solid #ffddd1 !important;
    }
  }
}

.message-user-wrap {
  display: flex;
  align-items: center;
  @include mq('phone-wide', max) {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .message-user {
    width: 48px;
    height: 48px;
    flex: 0 0 auto;
    margin-right: 16px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
    .user-online-status {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #23bd33;
      position: absolute;
      bottom: 0;
      right: 0;
      transition: all 0.3s;
      border: 3px solid #fff;
    }
  }
}

.message-data {
  position: relative;
  h6 {
    font-size: 14px;
    letter-spacing: -0.01em;
    color: #1d2026;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    letter-spacing: -0.01em;
    margin: 0;
  }
  .active-status {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #ff6636;
    position: absolute;
    bottom: 6px;
    right: 0;
  }
}

.student-message-right {
  flex: 0 0 68%;
}

.student-message-header {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include mq('phone-wide', max) {
    display: block;
    text-align: center;
  }
  .message-user {
    width: 64px;
    height: 64px;
    @include mq('phone-wide', max) {
      margin: 0 auto 10px;
    }
  }
  .message-data {
    h6 {
      font-size: 18px;
      margin-bottom: 8px;
    }
    p {
      color: #4e5566;
    }
  }
}

//chat
.chat-box-card {
  background: #f5f7fa;
  border: 1px solid #e9eaf0;
  border-left: 0;
  border-right: 0;
  padding: 24px;
}
.student-message-body-footer {
  padding: 24px;
  input.searchbox-input {
    width: calc(100% - 145px);
    background-color: transparent;
    border: 1px solid #e9eaf0;
    @include mq('phone-wide', max) {
      width: 100%;
    }
  }
  button#send-btn {
    background: #ff6636;
    border: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: -0.008em;
    text-transform: capitalize;
    color: #fff;
    padding: 0px 24px;
    position: absolute;
    right: 0;
    @include mq('phone-wide', max) {
      position: relative;
      width: 100%;
      margin-top: 20px;
    }
    svg {
      margin-left: 10px;
    }
  }
}

.chat-item:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .chat-data {
    p {
      color: #fff;
      background-color: #ff6636;
    }
  }
}

.chat-item {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  p {
    font-size: 12px;
    color: #6e7485;
    margin-bottom: 8px;

    img {
      margin-right: 6px;
      width: 24px;
      height: 24px;
      border-radius: 100%;
    }
  }
  .chat-data {
    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #1d2026;
      background: #ffeee8;
      padding: 8px 20px 8px 12px;
      display: inline-block;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.chat-data.bg-orange {
  p {
    color: #fff;
    background-color: #ff6636;
  }
}
