.progress-content {
  padding: 24px;
  text-align: center;
  transition: 0.3s;
  background-color: #fff;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 0px 12px 32px rgba(29, 32, 38, 0.1);
  }

  &:hover .category-content-left {
    background-color: $primary-500;

    svg {
      path {
        stroke: #fff;
      }
    }
  }

  &-left {
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    background: rgba(86, 79, 253, 0.1);
    margin-bottom: 24px;

    svg {
      transition: 0.3s;

      path {
        transition: 0.3s;
      }
    }
  }

  &-right {
    align-self: center;

    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #1d2026;
      margin-bottom: 12px;
      display: block;
    }

    p {
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #6e7485;
    }
  }
}

.progress-content-color-1 {
  .progress-content-left {
    background-color: #e1f7e3;
  }
}

.progress-content-color-2 {
  .progress-content-left {
    background-color: #fff2e5;
  }
}

.progress-content-color-3 {
  .progress-content-left {
    background-color: #ffeee8;
  }
}

.progress-content-color-4 {
  .progress-content-left {
    background-color: #fff0f0;
  }
}
