.category-content {
    display: flex;
    background-color: #EBEBFF;
    padding:20px;
    margin:8px 0;
    &-left {
        height: 64px;
        width: 64px;
        line-height: 64px;
        text-align: center;
        margin-right: 20px;
        background-color: #fff;
    }

    &-right {
        align-self: center;
        p {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            color: #1D2026;
            margin: 0;
        }
        span {
            font-family: 'Inter';
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #6E7485;
            margin-top: 8px;

        }
    }
}
.category-content-color-1{
    background-color: #E1F7E3;
}
.category-content-color-2{
    background-color: #FFF2E5;
}
.category-content-color-3{
    background-color: #FFEEE8;
}
.category-content-color-3{
    background-color: #FFF0F0;
}
.cat-com{
    padding:50px 0;
    background-color: #fff;
}