.footer-section {
    background-color: #1D2026;
}
.footer-top{
    padding: 80px 0;
    .footer-textarea{
        margin-right: 90px;
        p{
            font-family: Inter;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: -0.01em;
            color: #8C94A3;
        }
        .footer-logo{
            margin-bottom: 20px;
        }
    }
    .footer-widget{
        .footer-menu-title{
            margin-bottom: 30px;
            h4{
                font-family: Inter;
                font-weight: 500;
                font-size: 14px;                
                text-transform: uppercase;                
                color: #FFFFFF;
                margin: 0;
            }
        }
        .footer-menu{
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    margin: 20px 0;
                    line-height: 1;
                    a{
                        font-family: Inter;
                        font-size: 14px;
                        letter-spacing: -0.01em;
                        color: #8C94A3;
                        position: relative;
                        &:hover{
                            color: #fff;
                        }
                        &:before{
                            content: "";
                            left: 0;
                            bottom: -9px;
                            width: 0;
                            height: 2px;
                            transition: all 0.4s;
                            position: absolute;
                            background-color: #FF6636;
                        }
                        &:hover::before{
                            width: 100%;
                        }
                        svg{
                            transition: all 0.4s;
                            opacity: 0;
                            position: relative;
                            top: -2px;
                        }
                        &:hover {
                            svg{
                                margin-left: 11px;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}