
    // "phone":        320px,
    // "phone-wide":   480px,
    // // "tablet":      560px,
    // "tablet-small": 768px,
    // "tablet":       992px,
    // // "tablet-wide":  1024px,
    // "desktop":      1200px,
    // "desktop-wide": 1500px


@include mq('phone') {
    
}
@include mq('phone-wide',max) {
    .withdrew-money-card-mid .withdrew-money-card-profile-name-2:after{
        display: none;
    }
    
  
}
@include mq('tablet-small') {
  
}
@include mq('tablet') {
    
}
@include mq('desktop') {
   
}

@include mq('desktop-wide') {
   
}

@include mq('phone',max) {
    .course-item-5-grid {
        flex-wrap: wrap;
    }


    .course-item-5 {
        width: 100%;
        max-width: 100%;
        margin: 5px 0;
    }

    .bg-light {
        margin: 10px 0;
    }
   


}


// @include mq('phone',max) {
//     .course-item-5-grid {
//         flex-wrap: wrap;
//     }
// }