.instructor {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  align-items: flex-start;

  &-sidebar {
    width: 15%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #1d2026;
    justify-content: space-between;
    @include max(1200px) {
      width: 25%;
    }
    @include max(991px) {
      width: 10%;
    }
    @include max(680px) {
      width: 15%;
    }
    @include max(480px) {
      width: 20%;
    }
  }

  &-content {
    width: 85%;
    height: 100%;
    overflow-y: scroll;
    @include max(1200px) {
      width: 75%;
    }
    @include max(991px) {
      width: 90%;
    }
  }

  //   sidebar
  &-logo {
    padding: 20px 24px;
    box-shadow: 0px -1px 0px 0px #363b47 inset;

    a {
      display: flex;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      line-height: 30px;
      align-items: center;
      letter-spacing: -0.03em;
      transition: all 0.3s linear;

      @include max(991px) {
        font-size: 0px;
      }
      img {
        flex-shrink: 0;
        margin-right: 6px;
      }
    }
  }

  &-menu {
    padding: 0;
    padding-top: 16px;
    li {
      &:hover,
      &.active {
        a {
          color: #fff;
          background-color: #ff6636;
          .count {
            background-color: #fff;
            color: #ff6636;
          }
        }
      }
      a {
        width: 100%;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        color: #8c94a3;
        line-height: 20px;
        position: relative;
        padding: 12px 24px;
        align-items: center;
        letter-spacing: -0.01em;
        text-transform: capitalize;
        transition: all 0.3s linear;
        @include max(991px) {
          font-size: 0px;
          line-height: auto;
        }
        .icon {
          flex-shrink: 0;
          margin-right: 12px;
        }
        .count {
          top: 50%;
          right: 24px;
          width: 24px;
          height: 24px;
          display: flex;
          color: #fff;
          font-size: 12px;
          line-height: 16px;
          font-weight: 500;
          border-radius: 50%;
          position: absolute;
          align-items: center;
          justify-content: center;
          transform: translateY(-50%);
          background-color: #ff6636;
          transition: all 0.3s linear;
          @include max(991px) {
            left: 40px;
            width: 8px;
            top: 18px;
            height: 8px;
            font-size: 0px;
            line-height: 0px;
          }
        }
      }
    }
  }

  .sign-out {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    color: #8c94a3;
    line-height: 20px;
    padding: 12px 24px;
    align-items: center;
    margin-bottom: 36px;
    text-transform: capitalize;
    transition: all 0.3s linear;
    @include max(991px) {
      font-size: 0px;
    }
    .icon {
      margin-right: 12px;
    }
    &:hover {
      color: #fff;
      background-color: #ff6636;
    }
  }

  // header
  &-header {
    padding: 24px 0px;
    position: relative;
    margin-bottom: 40px;
    background-color: #fff;
    @include max(767px) {
      padding-bottom: 90px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .right {
      display: flex;
      align-items: center;
      & > div {
        margin-right: 16px;
        &:nth-last-child(1) {
          margin: 0px;
        }
      }
    }

    .form-searchbox {
      @include max(767px) {
        top: 50%;
        left: 50%;
        width: 75%;
        z-index: 9;
        margin-top: 40px;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      @include max(575px) {
        width: 95%;
      }
      input {
        color: #8c94a3;
        background-color: #f5f7fa;
      }
    }
  }

  // Notification
  &-notification {
    padding: 12px;
    cursor: pointer;
    position: relative;
    background-color: #f5f7fa;
  }

  // user
  &-user {
    cursor: pointer;
    .image {
      width: 48px;
      height: 48px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: inherit;
        height: inherit;
        object-fit: cover;
      }
    }
    .greeting {
      font-size: 14px;
      color: #6e7485;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 6px;
      letter-spacing: -0.01em;
      text-transform: capitalize;
    }
    .username {
      font-size: 20px;
      color: #1d2026;
      font-weight: 600;
      line-height: 26px;
      text-transform: capitalize;
    }
  }

  //   Dashboard
  &-features {
    gap: 24px;
    display: grid;
    margin-bottom: 24px;
    grid-template-columns: repeat(4, 1fr);
    @include max(1480px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include max(1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include max(767px) {
      grid-template-columns: 1fr;
    }
  }

  &-biodata {
    margin-bottom: 24px;
  }

  &-activity {
    .row {
      & > div {
        margin-bottom: 24px;
      }
    }

    // Activity card
    .card-activity {
      // @include max(1200px) {
      //   margin-bottom: 24px;
      // }
      .ratings-box {
        @include max(575px) {
          margin-top: 16px;
        }
      }
    }
  }
}
